$grey1: #232323;
$grey2: #606060;
$grey3: #9c9c9c;
$color: #d2ecdf;


article {
	height: 25vh;
	width: 50%;
	margin: 20px auto;
	box-shadow: 0 0 10px $grey3;

	.thumbnail {
		width: 25vh;
		height: 25vh;
		background-size: cover;
		display: inline-block;
		vertical-align: middle;
	}

	.infos {
		width: calc(100% - 25vh - 1vw * 2);
		max-height: calc(100% - 1vw * 2);
		vertical-align: middle;
		padding: 1vw;

		display: inline-flex;
		flex-direction: column;

		h1, h2, span {
			text-align: left;
			padding: 0!important;
		}

		h1 {
			font-size: 2em;
		}

		h2, span {
			display: inline-block;
		}

		h2 {
			font-size: 1em;
		}

		span {
			font-size: 1em;
			color: $grey2;		
		}

		p {
			text-align: justify;
			margin: 0!important;
			padding: 0!important;
			max-width: 100%!important;
			width: 100%!important;
		}
	}
}