$grey1: #232323;
$grey2: #606060;
$grey3: #9c9c9c;
$color: #d2ecdf;

.menu {
	width: 350px;
	z-index: 9999;
	height: 100%;
	position: fixed;
	top: 0;
	right: -350px;
	background: #fff;
	justify-content: center;
	display: flex;
	flex-direction: column;
	transition: .5s;
	box-shadow: 0 0 10px $grey3;

	i.close {
		position: absolute;
		cursor: pointer;
		top: 30px;
		left: 30px;
		color: $grey2;
	}

	&.active {
		right: 0;		
	}

	nav {
		margin-right: 20%;
		height: 50%;
		justify-content: space-around;
		display: flex;
		flex-direction: column;

		a {
			font-family: "bebas_neuebold"!important;
			text-decoration: none;
			letter-spacing: .2em;
			color: #333;
			font-size: 2.3em;
			text-align: right;

			&.active::after {
				content: ' ';
				position: absolute;
				right: 22%;
				width: 40px;
				height: 3px;
				background: $color;
				display: block;
			}
		}
	}
}


@media screen and (max-width: 400px) {
	

.menu {
	width: 100%;
	right: -100%;
	box-shadow: 0;

	i.close {
		font-size: 1.5em;
	}

	nav {
		margin-right: 0;
		height: 70%;

		a {
			font-size: 2.5em;
			text-align: center;

			&.active::after {
				display: none;
			}

			&.active {
				font-weight: bold;
			}
		}
	}
}


}