@import "bebas/stylesheet.css";
@import "lora/stylesheet.css";

$grey1: #232323;
$grey2: #606060;
$grey3: #9c9c9c;
$color: #d2ecdf;

body {
	width: 90%;
	margin: auto;


	footer {
		width: 100%;
		margin-top: 100px;
		padding: 20px 0; 
		font-family: "loraregular";
		text-align: center;
		color: $grey2;
		font-size: .8em;
	}

	.politics{
		font-family: "loraregular";
		text-align: justify!important;

		h1 {
			padding: 7% 0 0	0;
			font-family: "bebas_neuebold";
			color: #232323;
			font-size: 10em;
			margin: 0;
		}
	}


	.contactForm {
		width: 30%;
		margin: 20px auto 0;

		input, textarea {
			width: calc(100% - (10px + 2px) * 2);
			padding: 10px;
			font-size: .95em;
			border: 2px solid $grey1;
			font-family: "loraregular";
			margin: 10px 0;
		}

		input {

		}

		input[type="submit"] {
			background: $color;
			width: 100%;
			font-family: "bebas_neueregular";
			letter-spacing: .2em;
			cursor: pointer;
			transition: .2s;

			&:hover {
				box-shadow: 0 0 10px $grey3;
			}
		}

		textarea {
			height: 15vh;
		}
	}



	.Page1 {
		width: 90%;
		margin: auto;

		h1 {
			padding: 7% 0 0	0;
			font-family: "bebas_neuebold";
			color: #232323;
			font-size: 10em;
			margin: 0;
		}

		h2 {
			font-family: "bebas_neueregular";
			letter-spacing: .3em;
			font-size: .95em;
			color: $grey1;
		}
		
		.searchContainer {
			width: 50%;
			margin: auto;


			.searchInput {
				background: #fff;
				padding: 20px;
				font-family: "bebas_neuebold";
				color: $grey1;
				border: 2px solid $grey1;
				font-size: 1.1em;
				width: calc(100% - 20px * 2 - 2px * 2);
			}
		}
		

		h3 {
			text-align: center;
			font-family: "bebas_neueregular";
			letter-spacing: .3em;
			font-size: 1.1em;
			color: $grey1;
		}

		p {
			padding-top: 3%;
			max-width: 80%;
			margin: auto;
			text-align: center;
			font-family: "loraregular";
			color: #606060;
			line-height: 1.7em;
		}

		.nextEventContainer {
			margin-top: 100px; 
		}

		.column {
			width: 50%;
			display: inline-block;
		}
	}

	.flexContainer {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin-top: 50px;
	}


	aside {
		position: absolute;
		width: 5%;
		height: 100%;
		left:0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;				


		a {
			text-decoration: none;
			color: $grey3;
			list-style-type: none;
			font-family: "bebas_neuebold";
			font-size: 1.3em;
			transform: rotate(-90deg);
			padding: 50px 0;
			transition: .2s;

			&:hover {
				color: #232323;
			}
		}			
	}
}